<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="flexbox_layout.css">
</head>
<body>
   <header>
        <div class="navbar">
            <!-- title -->
            <h2 class="title">Trek<span class="north">North</span></h2>
            <!-- nav menu -->
            <nav class="nav-links">
                <a href="#">Home</a>
                <a href="#">Destinations</a>
                <a href="#">Gallery</a>
                <a href="#">About</a>
            </nav>
            <!-- nav button -->
            <a href="#" class="nav-btn">Book a trip</a>
        </div>
   </header> 

   <main>
        <section class="hero">
            <h1>Why choose us</h1>
            <div class="card-container">
                <div class="card">
                    <div>⛰️</div>
                </div>
            </div>
        </section>



        
        
   </main>
</body>
</html>