/* resetting the HTML */
*{margin: 0; padding: 0; box-sizing: border-box;}

/* defining variables for colors */
:root{
    --orange: rgba(251, 145, 39, 0.911);
    --blue: rgba(5, 128, 223, 0.902);
    --dark: rgba(32, 32, 32, 0.847);
    --seablue: rgb(34, 252, 227);
}

/* group selection */

.header,
.sidebar,
.main,
.featured,
.box,
.aside,
.footer{
    padding: 5px;
    font-weight: bold;
    border-radius: 5px;
}

/* wrapper - grid container */
.wrapper{
    color: white;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: 'hdr hdr hdr hdr hdr'
    'side main main main aside'
    'ftr ftr ftr ftr ftr';
    grid-template-rows: 60px 250px 50px;
    gap: 5px;
}

/* header */
.header{
    background-color: var(--orange);
    grid-area: hdr;
}

/* left sidebar */
.sidebar{
    background-color: var(--dark);
    grid-area: side;
}

/* child elements of main section */
.main{grid-area: main;}

/* another grid system inside main */
.main .container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 120px 120px;
    gap: 5px;
}
.main .featured{
    background-color: var(--orange);
    grid-column: 1 / span 3;
}
.main .box{background-color: var(--blue);}

/* right sidebar */
.aside{
    background-color: var(--seablue);
    grid-area: aside;
}

/* footer */
.footer{
    background-color: var(--dark);
    grid-area: ftr;
}