*{
    margin: 0;
    padding: 0;
    
}
:root{
    --btn-color: #ffb700;
    --h1-color: #0088ff; 
    --card-width: 200px;
}

.navbar{
    display: flex;
}

.flex-container{
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
    align-content: center;
    /* flex-wrap: wrap; */
    flex-flow: row nowrap;
    border: 2px solid red;
    height: 400px;
    gap: 5px;
    background-color: #ffb700;
}
.flex-container div{
    background-color: rgb(147, 180, 69);
    padding: 10px;
    /* margin: 10px; */
    /* width: 30%; */
    /* flex-basis: 100px; */
    /* width: 200px; */
    flex-grow: 1;
    /* flex-shrink: 0; */
    flex: 1 0 200px;
}
.item2{
    /* align-self: flex-end; */
    /* flex-grow: 1; */
}

/* image with text */
.img-with-text{
    background-color: rgba(220, 220, 220, 0.733);
    height: 300px;
    margin-bottom: 10px;
    padding: 10px 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.text-box h1{color: var(--h1-color);}
.text-box button{background-color: var(--btn-color);}

.img-with-text div{
    width: 45%;
}

.img-box img{
    width: 100%;
}

.text-box{order: 2}
.img-box{order: 1}


/* CSS GRID */
.grid-section{
    background-color: coral;
    /* height: 300px; */
    padding: 20px 10px;
}
.grid-container{
    height: 400px;
    display: grid;
    grid-template-columns: 200px 100px 200px;
    grid-template-rows: 150px 100px;
    justify-content: center;
    align-content: space-between;
    gap: 5px;
}
.grid-container .items{
    background-color: cornflowerblue;
    padding: 10px;
}
.item1{
    /* start from 1 column line, ends at 3rd column line */
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}